.image{
    margin-top: 5px;
    border-radius: 50%;
    width: 50px;
}

.member{
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
}
.Profile{
    display: flex;
    justify-content: space-around;
}